// Define variables for your color scheme
$purple: #625772;
$orange: #F38181;
$green: #A9EEE6;
$black: #35312A;
$white: #FCFDFF;
// For example:
$red: #EE5F5B;
$blue: #90E3D9;
$yellow: #f4fec1;
$gray: #443f36;
$light-gray: #F4F4F4;
