// Define variables for your color scheme
$purple: #625772;
$orange: #F38181;
$green: #A9EEE6;
$black: #35312A;
$white: #FFF7F8;
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$gray: #000000;
$light-gray: #F4F4F4;
