#welcome-message {
  color: $white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
}

#add-project {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 150px;
  margin: 0 auto;
}
