.picture-coin img, .picture-wishlist img, .picture-calendar img, .picture-credit-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.semi-circle-1, .semi-circle-2, .semi-circle-3 {
  height: 50px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: $white;
}

.semi-circle-1 {
  background-color: $orange;
}

.semi-circle-2 {
  background-color: $yellow;
  color: $purple;
}

.semi-circle-3 {
  background-color: $blue;
}

.text-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-card h2 {
  text-align: center;
  font-size: 30px;
  color: $purple;
}

.text-card p {
  margin-top: 25px;
  margin-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  font-size: 16px;
  font-weight: lighter;
  color: $gray;
}
