.profile {
  background-color: $white;
  display: flex;
  margin: 20px 0px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 170px);
  padding-bottom: 10px;
  h3 {
    font-size: 24px;
  }
}

.profile-pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 8px solid $green;
  flex: 0 0 30%;
  margin-top: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  p {
    font-size: 16px;
    font-weight: lighter;
  }
}

.form {
  width: 80%;
  margin-top: 10px;
  font-size: 12px;
  .control-label {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.credit-card {
  position: relative;
  min-height: 100px;
  width: 235px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: $light-gray;
  margin: 15px auto;
  padding: 5px;
  font-size: 15px;
}




