.profile {
  background-color: $white;
  display: flex;
  margin: 20px 0px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 24px;
  }
}

.profile-pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 8px solid $green;
  flex: 0 0 30%;
  margin-top: 15px;
}

.form {
  width: 80%;
  margin-top: 10px;
  font-size: 12px;
  .control-label {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  p {
    font-size: 16px;
    font-weight: lighter;
  }
}

.payment-info {
  margin-top: 20px;
}

.btn-profile {
  width: 100%;
  padding: 10px;
  font-weight: bolder;
  background: $purple;
  color: white;
  label {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
  }
}


