// .progress {
//   border-radius: 10px;
//   height: 20px;
//   margin-bottom: 10px;
// }

// .progress-bar {
//   border-radius: 10px;
//   height: 12px;
//   margin-top: 4px;
//   margin-left: 5px;
// }

.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

#card-project-margin {
  margin-top: 15px;
}

.card-project {
  text-align: left;
  color: $purple;
  position: relative;
}

.card-title {
  color: $orange;
}

.three-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: #ff7478;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: 85px;
  height: 70px;
  margin-bottom: 0px;
  background-color: #fc6a6c;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  //border: 2px solid white;
}

.focus-info-show {
  color: #fcc2c3;
  text-align: center;
  font-size: 15px;
}

.social-area {
  margin-bottom: 15px;
}

.social {
  // border-radius: 10px;
  height: 100px;
  margin-bottom: 10px;
  width: 12px;
  transform: rotate(180deg);
  margin-top: -20px;
}

.progress-bar-social {
  // border-radius: 10px;
  height: 90px;
  padding: 21px;
  // margin-top: 4px;
  // margin-left: 5px;
  transform: rotate(180deg);
  background-color: #FBD392;
  z-index: 0;
}

.rocket {
  zoom: 30%;
  z-index: 1;
}

.avatar-social {
  zoom: 20%;
  border: solid 20px;
  border-radius: 50%;
  border-color: $purple;
}

.flex-social-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-avatar {
  border-radius: 100%;
  zoom: 130%;
}

#leader-title {
  margin-top: 15px;
  text-align: center;
}

.social-board {
  margin-bottom: 60px;
  margin-top: 60px;
}

//.col-centered {
 // float: none;
 // margin: 0 auto;
//}

#card-booster {
  background-color: #fc6a6c;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-top: -40px;
}

.arrival-line {
}
