// .progress {
//   border-radius: 10px;
//   height: 20px;
//   margin-bottom: 10px;
// }

// .progress-bar {
//   border-radius: 10px;
//   height: 12px;
//   margin-top: 4px;
//   margin-left: 5px;
// }

.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

#card-project-margin {
  margin-top: 15px;
}

.card-project {
  text-align: left;
  color: $purple;
  position: relative;
}

.card-title {
  color: $purple;
}

.three-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: #ff7478;
  border-radius: 3px;
  margin-top: 30px;
}

.small-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 85px;
  height: 85px;
  background-color: $white;
  box-shadow: 2px 1px 1px rgba(98, 87, 114, .3);
  color: $purple;
  margin: -10px 0px 10px 0px;
}

.focus-info-show {
  color: rgba(243, 129, 129, 0.6);
  text-align: center;
  font-size: 15px;
}

.social-area {
  margin-bottom: 15px;
}

.social {
  min-height: 100px;
  // height: 30px;
  margin-bottom: 10px;
  width: 12px;
  transform: rotate(180deg);
  margin-top: -20px;
}

.progress-bar-social {
  // border-radius: 10px;
  // height: 90px;
  padding: 21px;
  // margin-top: 4px;
  // margin-left: 5px;
  transform: rotate(180deg);
  background-color: #FBD392;
  z-index: 0;
}

.rocket {
  zoom: 30%;
  z-index: 1;
}

.avatar-social {
  zoom: 20%;
  border: solid 20px;
  border-radius: 50%;
  border-color: $purple;
}

.flex-social-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flex-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-avatar {
  border-radius: 100%;
  zoom: 128%;
}

#leader-title {
  margin-top: 15px;
  text-align: center;
}

.social-board {
  margin-bottom: 60px;
  margin-top: 60px;
}

.finish-line {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  color: white;
}
