.progress {
  border-radius: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  border-radius: 10px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
}

.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

#card-project-margin {
  margin-top: 15px;
}

.card-project {
  text-align: center;
  color: $purple;
}

.card-title {
  color: $orange;
}

.three-cards {
  display: flex;
  justify-content: space-around;
}

.focus-info-show {
  color: $orange;
  text-align: center;
  font-size: 15px;
}

.social-area {
  margin-bottom: 15px;
}

.social {
  border-radius: 10px;
  height: 100px;
  margin-bottom: 10px;
  width: 20px;
  transform: rotate(180deg);
}

.progress-bar-social {
  border-radius: 10px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
  transform: rotate(90deg);
  background-color: $green;
}

.fusee-emoji {
  zoom: 200%;
}

.flexsocial {
  display: flex;
  justify-content: space-between;
}
