// Description
.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

// Leaderboard
.social-board {
  height: 400px;
}

#leader-title {
  margin-top: 15px;
  text-align: center;
}

.finish-line {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
}

.flex-social-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
}

.flex-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket {
  height: 45px;
  z-index: 1;
}

.progress-bar-social {
  border-radius: 30px;
  width: 15px;
  margin-top: -15px;
  transform: rotate(180deg);
  background-color: #FBD392;
  z-index: 0;
}

.avatar-social img {
  border: solid 5px;
  border-radius: 50%;
  border-color: $purple;
  height: 45px;
  width: 45px;
}

// User Actions
.btn-small {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bolder;
  background: $white;
  box-shadow: 2px 1px 1px rgba(98, 87, 114, .3);
  color: white;
  font-size: 18px;
  margin: 15px 20px;
}

.user-actions {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.edit_user_project {
  padding: 15px 0px;
}
