.progress {
  border-radius: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  border-radius: 10px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
}

.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

#card-project-margin {
  margin-top: 15px;
}

.card-project {
  text-align: center;
  color: $purple;
}

.card-title {
  color: $orange;
}

.three-cards {
  display: flex;
  justify-content: space-around;
}

.focus-info-show {
  color: $orange;
  text-align: center;
  font-size: 15px;
}

.social-stuff {
  margin-bottom: 15px;
}

// .project-card {
//   background-color: #FFF6F8;
//   height: 28vh;
//   margin-top: 15px;
//   border-radius: 7px;
//   // margin-left: 25px;
//   // margin-right: 25px;
// }

// .project-picture img {
//   height: 14vh;
//   width: 14vh;
//   border-radius: 50%;
//   margin-top: 20px;
// }

// .project-name {
//   margin-top: 35px;
//   margin-left: 20px;
//   font-weight: bold;
// }

// .em.em-calendar {
//   height: 1em;
//   width: 1em;
//   margin-bottom: 4px;
// }

// .em.em-dart {
//   height: 1.1em;
//   width: 1.1em;
//   margin-bottom: 2px;
// }

// .bg-success {
//   background-color: #00e64d;
// }

// #date {
//   font-size: 12px;
//   font-weight: normal;
//   color: #8c8c8c;

// }

// .objectif {
//   text-align: right;
// }

// .cards-container {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: nowrap;
//   height: 100%;
//   width: 100%;
// }

// .cards {
//   width: 30%;
//   background-color: #FFF6F8;
//   height: 16vh;
//   width: 16vh;
//   border-radius: 7%
// }
