// .progress {
//   border-radius: 10px;
//   height: 20px;
//   margin-bottom: 10px;
// }

// .progress-bar {
//   border-radius: 10px;
//   height: 12px;
//   margin-top: 4px;
//   margin-left: 5px;
// }

.description-show {
  text-align: justify;
  color: $purple;
  font-size: 15px;
  margin-bottom: 12px;
}

#card-project-margin {
  margin-top: 15px;
}

.card-project {
  text-align: left;
  color: $purple;
  position: relative;
}

.card-title {
  color: $orange;
}

.three-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: #ff7478;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: 85px;
  height: 70px;
  margin-bottom: 0px;
  background-color: #fc6a6c;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  //border: 2px solid white;
}

.focus-info-show {
  color: #fcc2c3;
  text-align: center;
  font-size: 15px;
}

.social-area {
  margin-bottom: 15px;
}

.social {
  min-height: 100px;
  // height: 30px;
  margin-bottom: 10px;
  width: 12px;
  transform: rotate(180deg);
  margin-top: -20px;
}

.progress-bar-social {
  border-radius: 30px;
  // height: 90px;
  padding: 10px;
  // margin-top: 4px;
  // margin-left: 5px;
  transform: rotate(180deg);
  background-color: #FBD392;
  z-index: 0;
}

.rocket {
  height: 50px;
  z-index: 1;
}

.avatar-social {
  zoom: 20%;
  border: solid 20px;
  border-radius: 50%;
  border-color: $purple;
}

.flex-social-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
}

.flex-test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-avatar {
  border-radius: 100%;
  zoom: 128%;
}

#leader-title {
  margin-top: 15px;
  text-align: center;
}

.social-board {
  margin-bottom: 60px;
  margin-top: 60px;
  height: 400px;
}

.finish-line {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 60px;
}
