#welcome-box {
  //background-color: $white;
  padding: 2px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: 290px;
}

#welcome-message {
  color: $white;
  font-size: 15px;
  font-weight: bold;
}

#welcome-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: #ff7478;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 1)


}

.stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-radius: 5px;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  width: 85px;
  height: 70px;
  margin-bottom: 0px;
  background-color: #fc6a6c;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  //border: 2px solid white;
}

.stats-number {
  text-align : center;
  //font-weight: bold;
  font-size: 14px;


}

.stats-description {
  font-size: 10px;
  text-align: center;
  margin: 0 2px;
  padding-bottom: 10px;
}

.card-project {
  background-color: $white;
  padding: 2px 8px;
  margin-top: 5px;
  margin-bottom: -15px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  position: relative;
}

.flexhome {
  display: flex;
  flex-wrap: wrap-vertical;
  margin-top: 10px;
}

.category-picture {
  zoom: 13%;
}

.card-title {
  font-weight: bolder;
}

.card-date {
  font-size: 12px;
  color: rgba(200, 200, 200, 200);
  text-align: left;
  margin-left: 5px;
}

.card-info {
  margin-left: 7px;
}

.amounts-home {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: $purple;
}

.card-amount {
  font-size: 20px;
  margin-top: 7px;
  font-weight: bolder;
  color: $purple;
}

.goal-amount-total-home {
  margin-top: 13px;
}

.progress {
  border-radius: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  border-radius: 10px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
}

#clickable {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

#add-project {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 150px;
  margin: 0 auto;
}
