.profile {
  min-height: calc(100vh - 170px);
  margin: 20px 20px;
  padding-bottom: 10px;
}
#summary {
  //width:300px;
}
.credit-card {
  position: relative;
  min-height: 100px;
  width: 235px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: $light-gray;
  margin: 15px auto;
  padding: 5px;
  font-size: 15px;
}

#intro {
  margin: 0 0 5px 0;
}

// #card-details {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   position: absolute;
//   top: 5px;
//   left: 5px;
// }

#card-icon {
  position:absolute;
  bottom: 88px;
  right: 47px;
  height: 50px;
}
