<section class="background_full_screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <p>No one ever reads footers, but you can find us here:</p>
          <div class="footer-links">
            <a href="https://github.com/coughinbach/piggybnk"> <i class="fa fa-github"></i></a>
            <a href="https://www.lewagon.com/"><i class="fa fa-train"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
