<div class="banner">
  <div class="tagline">
    <h1>Piggybnk</h1>
    <br>
    <p>Save up for what <i>really</i> matters</p>
    <a href="/users/sign_in" class="btn btn-home btn-lg">Start now</a>
  </div>
</div>

<div class="container">
  <div class="row" style="background-color: #FCFDFF">
      <div class="picture-coin showScroll scale scaleStart-0 scaleEnd-1">
        <%= image_tag("coin.png", height: 100, width: 100) %>
      </div>
    <div class="text-card">
      <h2>Smart savings</h2>
      <p>Piggybnk empowers you to put funds aside without it being a chore. Achieve your personal or collective goals without even thinking about it!</p>
    </div>
    <div class="semi-circle-1 text-center">
      1
    </div>
  </div>

    <div class="row" style="background-color: #F38181">
    <div class="picture-wishlist">
      <%= image_tag("wishlist.png", height: 80, width: 80) %>
    </div>
    <div class="text-card">
      <h2>Put your money where your <i class="fa fa-heart"></i> is</h2>
      <p>Define projects that really matter, set a goal amount and a due date, and you're off! You can also collaborate with friends on a group project.</p>
    </div>
    <div class="semi-circle-2 text-center">
      2
    </div>
  </div>

   <div class="row" style="background-color: #f4fec1">
    <div class="picture-calendar">
      <%= image_tag("calendar.png", height: 80, width: 80) %>
    </div>
    <div class="text-card">
      <h2>Get closer to your goal every day</h2>
      <p>Keep tabs on your progress thanks to a detailed breakdown, challenge yourself and achieve your savings goals!</p>
    </div>
    <div class="semi-circle-3 text-center">
      3
    </div>
  </div>

    <div class="row" style= "background-color: #90E3D9">
    <div class="picture-credit-card">
      <%= image_tag("credit-card.png", height: 80, width: 80) %>
    </div>
    <div class="text-card">
      <h2>Let us do the <br>heavy lifting!</h2>
      <p>Every week, Piggybnk automatically puts aside your funds from your credit card to a savings wallet, which you can cash out whenever you like. Simple, secure, and safe.</p>
      <a href="/users/sign_in" class="btn btn-home">Start now</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> <!-- Librairie Jquery necessaire -->
<script src="assets/javascripts/showScroll.js"></script> <!-- Fichier necessaire aux animations -->
