<div class="banner">
  <div class="tagline">
    <h1><strong>Dream, save and realize all your projects</strong></h1>
    <br>
    <p>Savings has never been so easy and fun</p>
  </div>
</div>


<section class="full_screen_card_1" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="picture-coin">
        <%= image_tag("coin.png", height: 100, width: 100) %>
      </div>
      <div class="text-intro">
        <h2><strong>Save differently</strong></h2>
        <p><strong>Piggybnk puts money aside automatically for your projects.</strong> Alone or with your friends, save for the things you love.</p>
      </div>
      <div class="semi-circle-1 text-center">
        1
      </div>
    </div>
  </div>
</section>


<section class="full_screen_card_2" style= "background-color: #FF7E6B">
  <div class="container">
    <div class="row">
      <div class="picture-wishlist">
        <%= image_tag("wishlist.png", height: 100, width: 100) %>
      </div>
      <div class="text-card-1">
        <h2><strong>Define your project</strong></h2>
        <p><strong>Choose the amount you want to save</strong> and the date you need it. Invite your friends to save with you!</p>
      </div>
      <div class="semi-circle-2 text-center">
        2
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #A9F0D1">
  <div class="container">
    <div class="row">
      <div class="picture-calendar">
        <%= image_tag("calendar.png", height: 100, width: 100) %>
      </div>
      <div class="text-card-2">
        <p>See <strong>how much you need to save per day </strong>and choose how often you want the savings to be taken from your current account (weekly or monthly).</p>
      </div>
      <div class="semi-circle-3 text-center">
      3
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #FFFF99">
  <div class="container">
    <div class="row">
      <div class="picture-credit-card">
        <%= image_tag("credit-card.png", height: 100, width: 100) %>
      </div>
      <div class="text-card-3">
        <h2><strong>Add a credit card</strong></h2>
        <p>Piggybnk automatically takes your savings from your credit card and <strong>gives you back your savings when you need it.</strong><br><br>One more thing ... It's free!</p>
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #FFFF99">
  <div class="container">
    <div class="row">
      <div class="container-button">
      <a class="btn btn-danger" href="#" role="button">Start now</a>
    </div>
  </div>
</section>



