<div class="banner">
  <div class="tagline">
    <h1><strong>Dream, save and realize all your projects</strong></h1>
    <br>
    <p>Savings has never been so enjoyable</p>
  </div>
</div>


<section class="full_screen_card_1" style="background-color: white">
  <div class="container">
    <div class="row">
      `<div class="showScroll scale scaleStart-0 scaleEnd-1.3">
      <div class="picture-coin">
        <%= image_tag("coin.png", height: 100, width: 100) %>
      </div>
      </div>`
      <div class="text-intro">
        <h2><strong>Smart savings</strong></h2>
        <p>Piggybnk allows you to save money so simply that you do not even realize it.</p>
      </div>
      <div class="semi-circle-1 text-center">
        1
      </div>
    </div>
  </div>
</section>


<section class="full_screen_card_2" style= "background-color: #FF7E6B">
  <div class="container">
    <div class="row">
      <div class="picture-wishlist">
        <%= image_tag("wishlist.png", height: 80, width: 80) %>
      </div>
      <div class="text-card-1">
        <h2><strong>Define your project</strong></h2>
        <p>Choose the amount you want to save and the date you need it. You can also invite your friends to save with you!</p>
      </div>
      <div class="semi-circle-2 text-center">
        2
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #A9F0D1">
  <div class="container">
    <div class="row">
      <div class="picture-calendar">
        <%= image_tag("calendar.png", height: 85, width: 80) %>
      </div>
      <div class="text-card-2">
        <h2><strong>See your daily savings goal</strong></h2>
        <p>See how much you need to save per day to accomplish your goal. Challenge yourself and follow your progress.</p>
      </div>
      <div class="semi-circle-3 text-center">
      3
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #FFFF99">
  <div class="container">
    <div class="row">
      <div class="picture-credit-card">
        <%= image_tag("credit-card.png", height: 80, width: 80) %>
      </div>
      <div class="text-card-3">
        <h2><strong>Connect your credit card</strong></h2>
        <p>Every week, Piggybnk automatically deducts your savings from your credit card and gives you back your savings on your checking account when you need it.</p>
      </div>
    </div>
  </div>
</section>

<section class="full_screen_card_2" style= "background-color: #FFFF99">
  <div class="container">
    <div class="row">
      <div class="container-button">
      <a class="btn btn-start-now" href="#" role="button">Sign up for free</a>
    </div>
  </div>
</section>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> <!-- Librairie Jquery necessaire -->
<script src="assets/javascripts/showScroll.js"></script> <!-- Fichier necessaire aux animations -->



