/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 18px;
  border: none;
}
.alert-info {
  background: $white;
  color: $purple;
}
.alert-warning {
  background: $white;
  color: $orange;
}
