.btn-piggy {
  width: 100%;
  padding: 10px;
  font-weight: bolder;
  background: $purple;
  color: white;
  label {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
  }
}



// Ces boutons ne sont pas utilisés ? D'ou sortent-ils ?
// .container-button a {
//   border-radius: 5px;
//   background-color: #665372;
//   border-color: #665372;
//   display: block;
//   margin : auto;
//   max-width: 170px;
//   color: white;
// }

// .container-button a:hover {
//   border-radius: 5px;
//   background-color: #8E6996;
//   border-color: #8E6996;
//   color: white;
// }


