/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 100%;  /*- apply for fixed size */
  height: 37px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: bolder;
  a {
    color: $white;
  }
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  font-size: 18px;
  background-color: $purple;
}

.loginBtn--facebook:before {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  text-decoration: none;
}
