.footer {
  background: $purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  color: rgba(0,0,0,0.3);
}

.footer p {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
}
.footer-links {
  align-items: center;
  display: table;
  margin: 0 auto;
}
.footer-links a {
  color: black;
  opacity: 0.90;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 12px;
}

.fa {
  color: white;
}

.fa-train {
  font-size: 20px;
}

.background_full_screen {
  background: $purple;
}

