.banner {
  background-image: image-url('home-banner2.jpg');;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  p {
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 3px #c5c5c5;
    color: #FFFFFF;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: lighter;
  }
  h1 {
    color: white;
    font-weight: bolder;
    font-size: 34px;
    text-shadow: 0px 1px 3px #c5c5c5;
    color: #fff;
  }
  i {
    font-style: normal;
    color: #FA802D;
  }

}

.btn-home {
  background-color: $purple;
  width: 150px;
  margin: auto;
  color: $white;
  font-size: 18px;
  padding: 12px 0px;
  &:hover {
    color: $white;
  }
}

