// Main
.navbar-wagon {
  background: $purple;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Add project "button"
.add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 43px;
  border-radius: 100px;
  border: 3px solid $white;
  a {
  color: $white;
  font-size: 27px;
  &:hover {
    text-decoration: none;
  }
  }
}

// Logo
.logo-pig {
  font-size: 42px;
  a:hover {
  text-decoration: none;
  }
}

// Placeholder when no user is logged in
.no-user-logged {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: 22px;
  }
  a:hover {
  text-decoration: none;
  }
}

// User Avatar
.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 3px solid $white;
  cursor: pointer;
}

// Dropdown menu
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: normal !important;
  color: $purple !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 15px 20px;
  border-bottom: 2px solid $light-gray;
  li > a:last-child {
  border: none;
  }
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $purple !important;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -5px;
  background-color: white;
  transform: rotate(45deg);
}


