.form-post {
  background: white;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $gray;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn-new-project {
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    background: $purple;
    color: white;
    margin-top: 20px;
  }
  label{
    color: $gray;
    font-size: 18px;
    font-weight: normal;
  }
}

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  display: flex;
  height: 120px;
  flex: 0 0 120px;
  margin-bottom: 20px;
  align-items: center;
  background-size: cover;
  border-radius: 50%;
  justify-content: center;
  border: 8px solid white;
  &.active {
    border: 8px solid $blue;
  }
}

.category-name {
  background-color: white;
  opacity: 0.8;
  padding: 5px 8px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  color: $purple;
  border-radius: 5px;
}

.user-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-choice {
  display: flex;
  height: 50px;
  flex: 0 0 50px;
  margin: 0px 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border: 3px solid white;
  &.active-user {
    border: 3px solid $blue;
  }
}

.user-name {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  color: $purple;
  border-radius: 5px;
  label {
    font-size: 14px;
  }
}
