.card-project {
  background-color: $white;
  position: relative;
  border-radius: 3px;
  background-color: $white;
  box-shadow: 2px 1px 1px rgba(98, 87, 114, .3);
  padding: 5px 20px;
  margin: 20px 0px 0px 0px;
  text-align: left;
  color: $purple;
  position: relative;
}

.flexhome {
  display: flex;
  flex-wrap: wrap-vertical;
  margin-top: 10px;
}

.category-picture img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.card-title {
  font-weight: bolder;
  font-size: 20px;
  color: $purple;
}

.card-date {
  font-size: 12px;
  color: rgba(200, 200, 200, 200);
  text-align: left;
}

.card-info {
  margin-left: 7px;
}

.amounts-home {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: $purple;
}

.card-amount {
  font-size: 18px;
  margin-top: 7px;
  font-weight: bolder;
  color: $purple;
}

.goal-amount-total-home {
  margin-top: 13px;
  margin: 13px 5px 8px 5px;
}

.progress {
  border-radius: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  border-radius: 10px;
  height: 12px;
  margin-top: 4px;
  margin-left: 5px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: transparent;
}

.card-inactive {
  z-index: 4;
  background-color: rgba(169, 229, 187, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 35px;
}
