.form-post {
  background: white;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $gray;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  label {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
  }
  p {
    font-size: 12px;
    color: #aaa;
  }
}

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  display: flex;
  height: 120px;
  flex: 0 0 120px;
  margin-bottom: 20px;
  align-items: center;
  background-size: cover;
  border-radius: 50%;
  justify-content: center;
  border: 8px solid white;
  cursor: pointer;
  &.active {
    border: 8px solid $green;
  }
}

.category-name {
  background-color: white;
  opacity: 0.8;
  padding: 5px 8px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  color: $purple;
  border-radius: 5px;
}

.user-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-choice {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}

.user-fake-label {
  font-size: 15px;
  cursor: pointer;
}

.user-picture {
  height: 55px;
  width: 55px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
  border: 5px solid white;
  &.active-user {
    border: 5px solid $green;
  }
}

.user-name {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  color: $purple;
  border-radius: 5px;
  text-shadow: 1px 1px 0px $white;
  label {
    font-size: 14px;
  }
}

.btn-new-project {
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    background: $purple;
    color: white;
    margin-top: 20px;
  }
