.form-signup {
  background-color: $white;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 1px 1px rgba(98, 87, 114, .3);
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: $purple;
    color: $white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
  }
  .btn a:hover {
    opacity: 0.5;
  }
}

// css commun pour les form - police des champs

.help-block {
  font-size: 13px;
}

.control-label {
  font-size: 17px;
}
