.small-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 3px;
  margin-top: 30px;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 85px;
  height: 85px;
  background-color: $white;
  box-shadow: 2px 1px 1px rgba(98, 87, 114, .3);
  color: $purple;
  margin: -10px 0px;
}

.stats-number {
  text-align : center;
  font-size: 16px;
}

.stats-description {
  font-size: 12px;
  text-align: center;
  margin: 0 2px;
  padding-bottom: 10px;
  color: #fcc2c3;
}
